body{
  background-color: #333f44;
}

a{
  color: #102738;
}

.logo{
  width: 65%;
}

.redes{
  font-size: 40px !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.size{
  font-size: 50px !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.color-contenido{
  background-color: #69D2E7;
}

.barra-nav, .barra{
  background-color: rgb(18,120,125);
}

.barra-nav:hover{
  background-color: rgba(93,138,168,0.9);
}

.principal{
  padding-top: 20px;
  margin-top: 20px;
}

.seccion{
  margin-bottom: 20px !important;
}

.comentario{
  margin: 10px 0;
}
